AUTH_USER=admin
AUTH_PASS=my_secure_password_here
PUBLIC_URL=https://onlyflix.meuservidor.com
LOCAL_PATH=/home/server/downloads/iptv
PORT=8080
TRANSCODE_DIR=transcoded
HIDE_UNREADY=false
XTREAM_HIDE_UNREADY=false
